services:
  comfyui:
    build: .
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    ports:
      - "8188:8188"
    volumes:
      - ${CUSTOM_NODES_PATH}:/opt/comfyui/custom_nodes
      - ${INPUT_PATH}:/opt/comfyui/input
      - ${MODELS_PATH}:/opt/comfyui/models:ro
      - ${OUTPUT_PATH}:/opt/comfyui/output
      - ${USER_PATH}:/opt/comfyui/user